@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Space Grotesk', sans-serif;
  cursor: none;
}

.font-title {
  font-family: 'Orbitron', sans-serif;
}


.glass-card {
  background: rgba(15, 23, 42, 0.21);  /* antes 0.6 */
  backdrop-filter: blur(9px);        /* antes 18px */
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 3rem;
  border-radius: 20px;
}


.interactive-card:hover {
  transform: scale(1.04);
  box-shadow: 0 0 40px rgba(139, 92, 246, 0.25);
}

.reveal {
  opacity: 0;
  transform: translateY(60px) scale(0.98);
  transition: all 0.1s cubic-bezier(.16,1,.3,1);
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #22d3ee 0%, transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: screen;
}


.about-card{
  width: 360px;        /* mais estreito */
  min-height: 400px;   /* mais alto */
  padding: 28px;
  border-radius: 22px;
}

@media (max-width: 768px){
  .about-card{
    width: 92vw;
    min-height: auto;
  }
}


